[defaults]
inventory = inventory.yml
host_key_checking = False
interpreter_python = auto_silent
gathering = explicit
retry_files_enabled = False
nocows = True
callback_result_format = yaml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
