[Unit]
After=network.target
Description=AutoSSH session (linode-tunnel)

[Service]
Environment="AUTOSSH_GATETIME=0"
Environment="AUTOSSH_POLL=30"
ExecStart=/usr/bin/autossh -M 0 -N -o "ServerAliveInterval=60" -o "ServerAliveCountMax=3" -R 3322:localhost:22 <your-tunnel-user>@<your-server-ip>
Restart=on-success
User=<your-user>

[Install]
WantedBy=multi-user.target
